.user-identity-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.user-identity-full-width {
  width: 80%;
}

.message-input-form {
  min-width: 150px;
  width: 100%;
}

.message-input-full-width {
  width: 95%;
}

#rcorners {
  border-radius: 5px;
  //background: #C0D6E4;
  padding: 20px;
  width: 20%;
  padding-bottom: 2px;
}

.color-text{
  background: #C0D6E4
}
