<form class="user-identity-form">
  <mat-form-field class="user-identity-full-width">
    <input matInput placeholder="Enter your username" [(ngModel)]="username" name="username">
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>
</form>

<mat-list>
  <mat-list-item *ngFor="let message of messageList$ | async">
    <p matLine>
      <span>  {{message.message}} </span>
    </p>
  </mat-list-item>
</mat-list>


<form class="message-input-form">
  <mat-form-field class="message-input-full-width">
    <input matInput placeholder="Message" [(ngModel)]="message" name="message">
  </mat-form-field>
  <button mat-mini-fab (click)="sendMessage()">
    <mat-icon aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>
  </button>
</form>



