.user-identity-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.user-identity-full-width {
  width: 80%;
}

.message-input-form {
  min-width: 150px;
  width: 100%;
}

.message-input-full-width {
  width: 95%;
}
